<!DOCTYPE html>
<html>
<title>FATEC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="../../public/images/css.png">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><i class="fa fa-university"></i></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    
    <h3 ><i class="fa fa-university"></i><strong>  SISTEMA ESCOLA</strong> </h3>
    <div class="w3-col s8 w3-bar">

    
      <a href="/professoresListar" class="w3-bar-item w3-button btn-lg"><i class="fa fa-users"></i></a>
      <a href="/disciplinasListar" class="w3-bar-item w3-button btn-lg"><i class="fa fa-list-alt "></i></a>
      <!-- <a href="#" class="w3-bar-item w3-button btn-lg"><i class="fa fa-edit "></i></a> -->
    </div>
  </div>
  <hr>
  <div class="w3-container">
    
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="/" class="w3-bar-item w3-button w3-padding w3-blue btn-lg"><i class="fa fa-home fa-fw"></i>  HOME</a>
    <a href="/professoresListar" class="w3-bar-item w3-button w3-padding btn-lg"><i class="fa fa-users fa-fw"></i>  PROFESSORES</a>
    <a href="/disciplinasListar" class="w3-bar-item w3-button w3-padding btn-lg"><i class="fa fa-list-alt  fa-fw"></i>  DISCIPLINAS</a>
    
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    
  </header>

  <div class="w3-row-padding w3-margin-bottom">

    <!-- <img style="height: 500px" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/5717421/original/html_css_js_bootstrap/java-script-bootstrap-responsive-html5-css.png" alt=""> -->
    <!-- <img style="height: 615px;width:100%" src="https://image.freepik.com/vetores-gratis/background-de-volta-a-escola_23-2147506811.jpg" alt="">   -->
    <!-- <img style="height: 615px;width:100%" src="https://image.freepik.com/free-vector/welcome-back-to-school-background_1322-71.jpg" alt="">     -->
    <img style="height: 615px;width:100%" src="https://thumbs.dreamstime.com/b/back-to-school-text-written-blue-chalkboard-background-items-vector-illustration-91362718.jpg" alt="">    
  </div>


  

  
  
  
  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
