<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Professores</title>
    </head>
    <body>

        <!-- Nav Bar - Cabecalho -->
        <nav>
            <h1>
                <a href="/">Meus Professores</a>
            </h1>
            <div>
                <a href="/professoresListar">Listagem de Professores</a>
                <a href="/professoresCadastrar">Cadastrar Novo Professor</a>
                <a href="/professoresPesquisar">Pesquisar Professor</a>
                <a href="/professoresAlterar">Alterar Professor</a>
            </div>
        </nav>

    
    </body>
</html>
